@import url('fonts/arimo.css');
@font-family: 'Arimo', sans-serif;
@text-color: #FFFFFF;
@grey-fon: #29414b;
@dark-blue: #40758d;
@blue: #5b8fa7;
@middle-blue: #496a7a;
@light-blue: #a2c6d4;
@gray: #29414b;
@light-gray: #89a1ab;
@detail-fon: #a2c6d4;
@detail-fon2: #94b7c5;
@menu-fon: #3d6779;
@menu: #739eb1;
@close-fon: #1b3743;
@notebook: ~"(max-height: 901px)";
@mobile: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 992px)";
@medium: ~"(min-width: 992px) and (max-width: 1200px)";
@medium_mobile: ~"(max-width: 1200px)";
@mobile_tablet: ~"(max-width: 992px)";
@small_tablet: ~"(min-width: 451px) and (max-width: 767px)";
@smartphone: ~"(max-width: 450px)";



body, html { 
	background: @grey-fon; 
	font-family: @font-family;  
	font-weight: 400; 
	color: @text-color;
	font-size: 10px;
	@media @medium{
		font-size: 9px;
	}
	@media @tablet{
		font-size: 8px;
	}
	@media @mobile{
		font-size: 7px;
	}
}
h1,h2,h3,h4,h6,h6,p,ul,li {margin: 0; padding:0px; }
a, a:hover { color: inherit; text-decoration: none;}
a:focus {  color: inherit; text-decoration: none;}


.page-layout{
	background-color: @light-gray;
	min-height: 700px;
}
.footer{
	background: @grey-fon; 
	& .container{
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 16px;
		@media @mobile{
			padding-top: 50px;
			padding-bottom: 0px;
		}
	}
}
.copyright{
	color: @light-blue;
	@media @smartphone{
		padding-top: 20px;
	}
}
.contact-mail{
	text-align: right;
	padding-top: 10px;
	@media @mobile_tablet{
		text-align: left;
	}
}
.mail{
	color: @text-color;
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	font-size: 16px;
	&:before{
		background-color: @blue;
		content: "";
		position: absolute;
		height: 2px;
		width: 110px;
		right: -110px;
		bottom: 0;
		transition: all .4s;
	}
	&:hover{
		&:before{
			right: 0;
		}
	}
}
.contacts-map{
	width: 100%;
	height: calc(~"100% - 100px");
	z-index: 50;	
}
.section{
	min-height: 700px;
}
.section-contacts{
	position: relative;
	height: 700px;
	& .top-container{
		position: absolute;
		top: 0;
		z-index: 100;
		width: 100%;
	}
}
.section-title{
	font-size: 5.5rem;
	font-weight: 400;
	padding: 6.5rem 0;
	text-transform: uppercase;
	@media @mobile{
		padding: 4.5rem 0;
	}
	&--dark{
		color: @gray;
	}
	&--blue{
		color: @dark-blue;
	}
	&--light{
		color: @light-blue;
	}
}
.contacts-block{
	background: linear-gradient(to bottom, #c4dee8, #a2c6d4);
	padding: 5rem 1rem 5rem 8rem;
	@media @medium_mobile{
		padding: 5rem 1rem 5rem 5rem;
	}
	@media @mobile{
		padding: 3rem 1rem 3rem 2rem;
	}
	& .title{
		color: @gray;
		font-size: 2.6rem;
	}
	& .paragraph{
		position: relative;
		font-size: 18px;
		color: @dark-blue;
		padding-top: 20px;
		margin: 20px 0;
		&:before{
			content: "";
			width: 80px;
			height: 2px;
			background-color: @dark-blue;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.feedback-btn{
	background-color: transparent;
	display: inline-block;
	color: @gray;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid @gray;
	padding: 12px 48px;
	transition: all 0.5s ease-in;
	&:hover{
		background-color: @gray;
		color: white;
	}
}
.top-menu{
	position: fixed;
	top: -53px;
	background-color: @menu-fon;
	height: 53px;
	padding: 13px 0;	
	z-index: 200;
	width: 100%;
	&--open{
		top: 0;
	}
	& .email-block{
		float: right;
		padding: 2px 0;
		@media @mobile{
			float: none;
			padding: 0px 0;
		}
		& a{
			color: white;
			display: inline-block;
			padding-left: 40px;
			font-size: 16px;
			overflow: hidden;
			position: relative;
			@media @mobile{
				display: none;
			}
			&:before{
				content: "";
				background: url(../img/arrow.png) no-repeat left center;
				width: 31px;
				height: 100%;
				position: absolute;
				top: 0;
				left: -31px;
				transition: all 0.4s linear;
			}
			&:hover{
				&:before{
					left: 0;
				}
			}
		}
		& .sandwitch{
			display: none;
			@media @mobile{
				display: block;	
				float: right;
				position: relative;			
		    cursor: pointer;
		    width: 40px;
		    height: 30px;
		    line-height: 30px;
		    padding: 0 5px;
		    z-index: 500;
		    margin-top: -2px;
		    & .toggle-btn{
		    	background-color: white;
			    display: inline-block;
			    vertical-align: middle;
			    width: 100%;
			    height: 4px;
			    position: relative;
			    &:before, &:after{
			    	background-color: white;
				    content: "";
				    display: inline-block;
				    width: 100%;
				    height: 4px;
				    position: absolute;
				    left: 0;
				    transition: transform .2s,top .2s;
				    -webkit-transition: transform .2s,top .2s;
			    }
			    &:before {
					  top: -10px;
					}
					&:after {
					  bottom: -10px;
					}
		    }
			}
		}
	}
}
.nav{
	& li{
		display: inline-block;
		list-style: none;
		padding: 2px 40px 0px 0;
		@media @tablet{
			padding: 2px 20px 0px 0;
		}
		& a{
			color: @menu;
			font-size: 16px;
			transition: color 0.4s ease-in;
			&:hover{
				color: lighten(@menu,20%);
			}
			&.current{
				color: white !important;
			}
		}		
	}
}
.col-mobile-nav{
	@media @mobile{
		border-top: 1px solid @menu;
		position: absolute;
		top: 53px;		
		height: auto;
		width: 100%;
		& .nav{
			display: none;
			& li{
				display: block;
				padding: 20px 0 0 0;
				& a{
					font-size: 30px;
				}
			}
		}
	}
}
.top-menu--mobile-open{
	@media @mobile{
		height: 100%;
		& .col-mobile-nav .nav{
			display: block;
		}
		& .sandwitch{
			& .toggle-btn{
				visibility: hidden;
				&:before{					
					transform: rotate(45deg);
			    -webkit-transform: rotate(45deg);
			    top: 0!important;
			    visibility: visible;
				}
				&:after{					
					transform: rotate(-45deg);
			    -webkit-transform: rotate(-45deg);
			    top: 0!important;
			    visibility: visible;
				}
			}
		}
	}
}
.section-home{
	background: url(../img/bg-header.png) no-repeat center top;
	background-size: cover;
	& .col-spacer-1{
		height: 8.6rem;
	}
	& .col-spacer-2{
		height: 10rem;
	}
	& .nav{
		padding-top: 6px;
		& li{
			display: block;
			padding: 0 0 15px 0;
			& a{
				color: @blue;
				&:hover{
					color: darken(@blue,20%);
				}
			}
		}
	}
	& .contact-mail{
		@media @mobile{
			padding-top: 30px;
		}
	}
	& .section-title{
		padding: 0;
	}
}
.section-services{
	background: linear-gradient(to top, #38515b, #2e4650);
	position: relative;
	& .section-services-plus{
		background: url(../img/bg-solution.png) no-repeat center -48px;
		
		height: 100%;
		@media @medium_mobile{
			background-size: contain;
		}
		& .container{
			background: url(../img/line.png) no-repeat center -42px;
			padding-bottom: 40px;
			@media @medium_mobile{
				background: none;
			}
		}
	}
}
& .tablet-row{
	margin-left: 0;
	margin-right: 0;	
}
.col-rectangle{
	background: rgba(57,82,92,0);
	
	height: 150px;
	cursor: pointer;
	position: relative;	
	padding-left: 0;
	padding-right: 0;
	@media @smartphone{
		height: 120px;
	}
	& .rectangle{
		padding: 20px 30px;
	}	
	@media @medium_mobile{
		border-color: #4b616a;
		border-style: solid;
	}
	@media @medium{
		&-01, &-02, &-04, &-05{
			border-width: 1px 0 0 1px;
		}
		&-03, &-06{
			border-width: 1px 1px 0 1px;
		}
		&-07, &-08{
			border-width: 1px 0 1px 1px;
		}
		&-09{
			border-width: 1px 1px 1px 1px;
		}
	}
	@media @mobile_tablet{
		&-01, &-03, &-05, &-07{
			border-width: 1px 0 0 1px;
		}
		&-02, &-04, &-06, &-08{
			border-width: 1px 1px 0 1px;
		}
		&-09{
			border-width: 1px 1px 1px 1px;
			width: 100%;
		}
	}
	@media @smartphone{
		&-01, &-03, &-05, &-07, &-02, &-04, &-06, &-08{
			border-width: 1px 1px 0 1px;
		}
	}
	&:hover{
		background: linear-gradient(to right, #22404d, #1a3642);
		box-shadow: 0 0 10px 4px rgba(12,23,28,.3), 0 0 25px 12px rgba(12,23,28,.3);
		border-color: #193541;
		border-width: 1px 1px 1px 1px;
		z-index: 10;
	}
	& .number{
		position: absolute;
		z-index: 1;
		font-size: 13.8rem;
		color: #415c66;
		opacity: .3;
		line-height: 1;
		top: 0;
	}
	& .title{
		color: @light-blue;
		font-size: 2.2rem;
		position: relative;
		z-index: 10;
	}
}
.solution-details{	
	position: absolute;
	top: 0;
	right: 0;
	width: 83.6%;
	max-width: 1600px;
	z-index: 200;
	padding: 6.5rem 0;
	overflow: hidden;
	z-index: 0;
	@media @medium_mobile{
		width: 100%;
	}
	@media @smartphone{
		top: 100px;
	}
	&-open{
		z-index: 500;
		& .solution-details-wrap{
			-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);

		}
	}
}
.solution-details-wrap{
	background: url(../img/detaill-right.png) no-repeat right top @detail-fon;
	box-shadow: 0 0 10px 4px rgba(12,23,28,.3), 0 0 25px 12px rgba(12,23,28,.3);
	-webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);  
  -webkit-transition: -webkit-transform .15s cubic-bezier(.89,.42,1,1);
  transition: -webkit-transform .15s cubic-bezier(.89,.42,1,1);
  transition: transform .15s cubic-bezier(.89,.42,1,1); 
  width: 100%;
  height: 100%;
	position: relative;
	@media @mobile_tablet{
		background: @detail-fon;
	}
	& .solution-detail{
		display: none;
	}
	& .container{
		background: url(../img/detaill-left.png) no-repeat left bottom;
		margin-left: 0;
		margin-right: 0;
		height: 730px;
		@media @mobile_tablet{
			height: auto;
			min-height: 730px;
		}
		@media @medium_mobile{
			min-height: 1000px;
		}
	}
	& .detail-content{
		padding: 5.0rem 15px;
		position: relative;
		& .number{
			position: absolute;
			z-index: 1;
			font-size: 9rem;
			font-weight: bold;
			color: #9bbecc;
			opacity: 1;
			line-height: 1;
			top: 5.0rem;
			right: 15px;
		}
		& .title{
			color: @close-fon;
			position: relative;
			font-size: 3.8rem;
			line-height: 4.5rem;
			font-weight: bold;
			margin-top: 5rem;
			text-transform: uppercase;
			z-index: 10;
		}
		& .subtitle{
			color: @close-fon;
			font-size: 2.8rem;
			line-height: 3.8rem;			
		}
		& .announce{
			color: @middle-blue;
			margin: 4.8rem 0;
			font-size: 20px;			
			padding-left: 5.0rem;
			@media @mobile{
				padding-left: 0;
				font-size: 18px;
			}
		}
		& .addition{
			color: @middle-blue;
			font-size: 16px;	
			padding-left: 5.0rem;	
			@media @mobile{
				padding-left: 0;
			}	
		}
		& p{
			font-size: 16px;
		}
	}
}
.close-buttn{
	position: absolute;
	height: 35px;
	width: 35px;
	top: 16px;
	left: 0px;
	cursor: pointer;
	border-radius: 50%;
	background-color: @close-fon;
	&:before, &:after{
		content: "";
		background-color: @detail-fon;
		height: 1px;
		width: 22px;
		position: absolute;
		left: 7px;
		top: 16px;
	}
	&:before{		
		-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	}
	&:after{		
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}
.dark-block{
	background-color: @detail-fon2;
	color: @close-fon;
	padding: 4.5rem 3rem 3rem 4.5rem;
	@media @medium{
		padding: 2.5rem 2rem 2rem 2.5rem;
	}
	& .ul-title{
		font-size: 18px;
	}
	& ul{
		margin: 0;
		padding: 0 0 2rem 18px;
		& li{
			font-size: 16px;			
		}
		@media @medium{
			padding: 0 0 2rem 18px;
			& li{
				font-size: 15px;
			}
		}
	}
}
.section-about{
	background: #c8d4d9;
	& .section-about-plus{
		background: url(../img/bg-about2.png) repeat-x center top;

	}
}

@media @smartphone {
  .col-st-1,.col-st-10,.col-st-11,.col-st-12,.col-st-2,.col-st-3,.col-st-4,.col-st-5,.col-st-6,.col-st-7,.col-st-8,.col-st-9{float:left}.col-st-12{width:100%}.col-st-11{width:91.66666667%}
  .col-st-10{width:83.33333333%}.col-st-9{width:75%}.col-st-8{width:66.66666667%}.col-st-7{width:58.33333333%}.col-st-6{width:50%}.col-st-5{width:41.66666667%}.col-st-4{width:33.33333333%}
  .col-st-3{width:25%}.col-st-2{width:16.66666667%}.col-st-1{width:8.33333333%}.col-st-pull-12{right:100%}.col-st-pull-11{right:91.66666667%}.col-st-pull-10{right:83.33333333%}
  .col-st-pull-9{right:75%}.col-st-pull-8{right:66.66666667%}.col-st-pull-7{right:58.33333333%}.col-st-pull-6{right:50%}.col-st-pull-5{right:41.66666667%}.col-st-pull-4{right:33.33333333%}
  .col-st-pull-3{right:25%}.col-st-pull-2{right:16.66666667%}.col-st-pull-1{right:8.33333333%}.col-st-pull-0{right:auto}.col-st-push-12{left:100%}.col-st-push-11{left:91.66666667%}
  .col-st-push-10{left:83.33333333%}.col-st-push-9{left:75%}.col-st-push-8{left:66.66666667%}.col-st-push-7{left:58.33333333%}.col-st-push-6{left:50%}.col-st-push-5{left:41.66666667%}
  .col-st-push-4{left:33.33333333%}.col-st-push-3{left:25%}.col-st-push-2{left:16.66666667%}.col-st-push-1{left:8.33333333%}.col-st-push-0{left:auto}.col-st-offset-12{margin-left:100%}
  .col-st-offset-11{margin-left:91.66666667%}.col-st-offset-10{margin-left:83.33333333%}.col-st-offset-9{margin-left:75%}.col-st-offset-8{margin-left:66.66666667%}
  .col-st-offset-7{margin-left:58.33333333%}.col-st-offset-6{margin-left:50%}.col-st-offset-5{margin-left:41.66666667%}.col-st-offset-4{margin-left:33.33333333%}
  .col-st-offset-3{margin-left:25%}.col-st-offset-2{margin-left:16.66666667%}.col-st-offset-1{margin-left:8.33333333%}.col-st-offset-0{margin-left:0}
}
.container{
	@media (min-width: 1311px){
		width: 1310px;
	}
}